header nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 5%;
}

header a, nav a {
    color: black;
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 30px 30px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, .4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.leftNav {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    color: black;
    width: 20%;
}

@media screen and (max-width: 700px) {
    .leftNav{
        position: absolute;
        background-color: white;
        left: -220px;
        transition: 0.3s;
        width: 250px!important;
        max-width: 300px!important;
        align-items: flex-start;

    }

    .leftNav>a{
        width: 100%;
        text-align: center;
    }
    
    .leftNav>a:nth-child(3){
        background: url("http://quest/public/img/right-arrow.jpg") no-repeat;
        background-size:  30px 30px;
        background-position: center right;
    }

    .leftNav:hover{
        left: 0;

    }


}


