form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    min-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 70%;
}

form label {
    font-family: "Roboto", sans-serif;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    color: #000000;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}


form input:focus {
    background: white;
    color: black;
}


input:focus {
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden;
}
/* Стили для кнопки отправить */
input[type=submit] {

    width: 138px;
    height: 44px;
    float:right;
    color: black;
    border: 1px solid black;
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 2px;
}
input[type=submit]:hover {
    border: 1px solid #000000;
    text-shadow: #333333 0 1px 0;
    background: #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#98b2a4));
    color: #fff;
}
