html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    font: normal 1em/1.5em 'Arial', sans-serif;
    color: #333;
    margin: 0 auto;
    top: 0;
    left: 0;
}

div.cont{
    /*max-width: 1200px;*/
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.7;
    background-image: url('http://quest/public/img/mainb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
    background: white;
    min-width: 300px;
    /* max-width: 1200px;*/

}

/*.logo {
    display: block;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 8px;
    width: 186px;
    height: 101px;
    margin: 0 0 0 -93px;
    background: url('img/cava.png') no-repeat 0 0;
    color: #000;
}

#logo img {
    display: block;
    margin: 30px auto 0 auto;
}*/


header nav {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    color: black!important;
    border: none;
    background: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a:hover{

    text-decoration: none!important;
}

main{
    position: relative;
    top: 70px;
    min-height: 600px;
    max-width: 1200px;
    width: 100%;
    height: 600px;

}

.lead {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 80%;

}

.fade {
    opacity: 1!important;
    color: black!important;
}


.fade:hover {
    background-color: grey;
    transition: opacity .8s;
    opacity: 0.6;
    text-decoration: none;
}

footer{
    width: 100%;
    max-width: 1200px;
}

.footer{
    position: relative;
    top: 70px;
    margin-top: 20px 5px 5px 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}


.copyrite{
    position: relative;
    top: 100px;
    margin: 10px;
}

@media screen and (max-width: 500px) {
    .splash {
        background: black url("http://quest/public/img/start.jpg") no-repeat!important;
        background-position: center center!important;
        background-size: 150%!important;
    }

    head {
        min-width: 600px;
    }

    main, .rows, .footer{
        min-width: 600px;
    }

}

