
body{
    background: #5d6768;
    /*background: linear-gradient(to right bottom, #9b9d97, #000000);*/
    border-radius: 6px;

}


form {
    margin: 0 auto;
    max-width: 60%;
    padding: 30px 30px 6px 30px;
    font-size: 12px;
    background: linear-gradient(#1f2124, #27292c);
    border: 1px solid #000;
    box-shadow:  0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between}

form label {
    margin-top: 20px;
    width: 100%;
    color: #ddd;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
}

form input {
    width: 90%;
    height: 48px;
    font-size: 12px;
    background: linear-gradient(#1f2124, #27292c);
    border: 1px solid #000;
    box-shadow:  0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

form input:focus {
    background: white;
    color: black;
}

input[type=submit] {
    cursor:pointer;
}
input:focus {
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden;
}
/* Стили для кнопки отправить */
input[type=submit] {

    width: 138px;
    height: 44px;
    float:right;
    color: white;
    border: 1px solid rgba(255,255,255,.4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 2px;
}
input[type=submit]:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #2d6b2b;
    background: -webkit-gradient(linear, left top, left bottom, from(#98b2a4), to(#1f6b14));
    color: #fff;
}

table {
    width: 90%;
}
th, tr {
    margin: 10px;
}

