@import url('https://fonts.googleapis.com/css?family=PT+Sans');

div.container{
width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content:space-between;

}

.quest{
    background:  url('http://quest/public/img/kvest.jpg') no-repeat;
    margin: 20px;
    padding: 15px;
    width:  300px;
    height: 200px;
    text-align:  center;
    background-color: black;
    color: white;
    border-radius:10%;
    opacity: 0.6;
}

button {
    opacity: 0;
}

.quest:hover {
    opacity:1;
    transition: all 1s ease;
}

.quest:hover > button {
    opacity:1;
    transition: all 1s ease;
}


/*-----------стили навигации----------------*/
nav{
    width: 95%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

a { display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;}