body{
    background: #f9f9f9 url(../../../public/img/page-bg-1.jpg);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 40px;
}

#modal{
    border: 3px solid rgb(247, 247, 249);
    width: 70%;
    padding: 50px;
}

#form{
    margin-top: 30px;
}

#form-1{
    margin-top: 15px;
}

hr{
    border: 1px solid #eee;
}

#add_btn{
    margin-right: 15px;
}

