body {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    width: 95%;
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    margin: 0 auto;
}

button{
    width: 50px;
}

button a:hover {
    background-color: white;
    color: #22156c;
    text-decoration: none
}

select {
    width: 200px;
    height: 30px;
    border: 1px solid black;
    color: black;
}

#option:hover{
    background-color: grey;
}

a{
    font-size: 14px;
}