body {
    width: 100%;
    background: black;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;

}

.quest {
    margin: 20px;
    width: 20%;
    height: 300px;
    background-color: navajowhite;
    color: #000000;
    border-radius: 10%;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

button {
    opacity: 0;
}

.quest:hover {
    opacity: 1;
    transition: all 1s ease;
    color: black;
}

.quest:hover > button {
    opacity: 1;
    transition: all 1s ease;
}

button a:hover {
    background-color: white;
    color: black;
    text-decoration: none
}