body{
    background: #f9f9f9 url(/public/img/page-bg-1.jpg);
    font-family: "Oswald", sans-serif!important;
    margin: 0;
    padding: 0;
}
.row{
    text-align: center;
}
.quest{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 80px;
    list-style-type: none;
    margin-bottom: 30px;
    min-height: 1px;
    background: lightgrey;
    height: 290px;
    width: 310px;
    display: inline-block;
}

.gallery-hover-3col {
    display: inline-block;
    z-index: 10;
    width: 100%;
    height:290px;
    opacity: 0;
    transition:all 1s ease;
    position:relative;
}
.gallery-hover-3col:hover {
    background: gray;
    opacity: 1;
    transition:all 1s ease;
}

.gallery-hover-3col img{
    width: 100%;
    height: 100%;
}

.gallery-icons {
    position: absolute;
    bottom: 0;
    z-index: 9;
    width: 90%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

a.item-zoom-link {
    height: 42px;
    width: 42px;
    background: #ffffff url(/public/img/gallery-item-icons.png) no-repeat;
    background-position: 0 0;
    position: relative;
    left: 22px;
    top: 2px;
    display: inline-block;
}

a.item-details-link {
    height: 42px;
    width: 42px;
    background: #ffffff url(/public/img/gallery-item-icons.png) no-repeat;
    background-position: -42px 0;
    position: relative;
    left: 25px;
    top: 2px;
    display: inline-block;
}
a.item-zoom-link:hover{
    background: #d8450b url(/public/img/gallery-item-icons.png) no-repeat;
    background-position: 0 0;
}
a.item-details-link:hover{
    background: #d8450b url(/public/img/gallery-item-icons.png) no-repeat;
    background-position: -42px 0;
}

.project-details {
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10px;
    box-shadow: 0 5px 5px -5px #333;
    width: auto\9;
    height: auto;
    max-width: 100%;
}

.project-details a {
    color: #333333;
    margin: 0px;
    font-size: 12px;
    font-style: normal;
    text-shadow: none;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}


.position{
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: inherit;
}
.picture_center{
    position: fixed;
    top: 32%;
    left: 45%;
    margin: -125px 0 0 -125px;
    background: rgb(248,248,248);
    width: 360px;
    min-width: 200px;
    height: 508px;
    min-height: 300px;
    text-align: center;
    border-radius:6px;
    padding: 8px;
    box-shadow: 0 0 5px 5px rgb(47, 47, 47);
    z-index: 999;
    opacity:0;
}

.picture_center_center{
    transition: 1s;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 450px;
    background: rgb(203,203,203);
    padding-top: 10px;
    padding-right: 15px;
}


#top_right_screen{
    display: block;
    line-height: 25px;
    background: rgb(248,248,248);
    text-decoration: none;
    float: right;
    width: 26px;
    height: 26px;
    border: 1px solid rgb(248,248,248);
    border-radius: 50%;
}
#top_right_screen:hover{
    color: rgb(48, 48, 83);
    box-shadow: 0 0 5px 1px rgb(48, 48, 83);
    background: rgb(243, 243, 243);
}

.bottom_desc{
    margin-top: 12px;
}
.questName{
    float: left;
    font-size: 11px;
    font-weight: bold;
}
#bottom_right_close{
    display: block;
    float: right;
    line-height: 22px;
    font-size: 25px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 50%;
}
#bottom_right_close:hover{
    color: red;
    box-shadow: 0 0 5px 2px red;
}

.bg{
    left: 0;
    position: fixed;
    top: 0;
    min-height: 100%;
    width: 100%;
    display: block;
    background-color: rgb(51, 51, 51);
    visibility: hidden;
    opacity: 0;
}

.open_bg{
    visibility: visible;
    transition: 2s;
    opacity: 0.6;
}
.open_position{
    visibility: visible;
    transition: 1s;
    opacity: 1;
}

.big_screen{
    position: absolute;
    width: 40%;
    height: 700px;
    top:20%;
    left: 38%;
}
.big_screen_inside{
    transition: 1s;
    height: 640px;
}

