@font-face{

    font-family: "STILLTIME";
    src: url('../fonts/stilltime.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;

}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content:space-between;
}

.quest{
    margin: 20px;
    padding: 15px;
    width:  250px;
    height: 200px;
    text-align:  center;
    background-color: black;
    color: white;
    border-radius:10%;
    opacity: 0.6;
}



button {
    opacity: 0;
}

.quest:hover {
    opacity:1;
    transition: all 1s ease;
}

.quest:hover > button {
    opacity:1;
    transition: all 1s ease;
}

h3 {
    font-family: STILLTIME;
}